<% if @users.blank? %>
<p>There are not any users currently in the system.</p>
<% else %>
<% @users.each do |user| %>
<div class="sub-container card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src=<%= user.photo %> class="img-fluid img-thumbnail rounded-start" alt=<%= user.name %>>
    </div>
    
    <%= link_to  user_path(user), class: 'col-md-8 no-link' do %>
      <div class="card-body">
        <h5 class="card-title"> <%= user.name %></h5>
        <p class="card-text text-end">Number of posts: <%= user.posts_counter %> </p>
      </div>
    <% end %>
  </div>
</div>
<% end %>
<% end %>